.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: left;
  background-color: #282c34;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #f2f2f2;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}
.formButton {
  background-color: #512da8; /* Purple background */
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
  box-sizing: border-box; /* To make sure padding is included in width */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.formButton:not([disabled]):hover {
  background-color: #1a1f2e; /* Darker on hover */
}

.formButton[disabled] {
  background: #404144;
  color: #999;
  cursor: not-allowed;
}